:root {
    --bg-color: #ffffff;
    --hd-color: #8b1a2b;
    --acc-color: #8b1a2b;
    --text-color: #333333;
    --border-color: #75A9B1;
    --section-gap: 80px;        
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.baslik h1 {
    color: var(--acc-color);
    border-left: 10px solid var(--border-color);
    padding: 0px 50px 0px 15px;
}
body {
    font-family: 'Poppins', sans-serif;
}

.baslik-1 {
    padding: 5px ;
    transition: all 0.3s ease;
     display: block;
}
.yuvarlaklar {
    display: flex;
    gap: 20px;
}
.icerik-butonlar {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.baslik-1:hover {
    cursor: pointer;
    transform: translateX(10px);
}
.baslik-satiri {
    display: flex;         
    align-items: center;    
    gap: 20px;
}
.yuvarlak i{
    width: 20px;
    padding: 23px;
    background-color: var(--acc-color);
    border-radius: 50%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
}
.icerik ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #444;
}

.icerik p {
    margin-top: 15px;
    line-height: 1.6;
    color: #555;
}


.icerik-butonlar a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
}

.icerik-butonlar span {
    font-size: 14px;
    font-weight: 600;
}
.icerik {
    display: none;
    font-size: 20px;
    color: var(--text-color);
}
.baslik h1 i {
    transition: transform 0.3s ease;
}

.icerik-butonlar a:hover {
    color: var(--acc-color);
    cursor: pointer;
}

.icerik-butonlar a:hover .yuvarlak i {
    background-color: var(--border-color);
}