:root {
    --bg-color: #ffffff;
    --hd-color: #8b1a2b;
    --acc-color: #8b1a2b;
    --text-color: #333333;
    --border-color: #75A9B1;
    --section-gap: 80px;        
}
.baslik h1 {
    color: var(--acc-color);
    border-left: 10px solid var(--border-color);
    padding: 0px 20px;
}
body {
    font-family: 'Poppins', sans-serif;
}

.baslik-1 {
    padding: 5px ;
    transition: all 0.3s ease;
}
.baslik-1:hover {
    cursor: pointer;
    transform: translateX(10px);
}
.icerik {
    display: none;
    font-size: 20px;
    color: var(--text-color);
}
.baslik h1 i {
    transition: transform 0.3s ease;
}
table {
    text-align: left;
    margin-bottom: var(--section-gap);
    overflow-x: auto;
}
table th {
    background-color: var(--hd-color);  
    color: white;
    padding: 15px 20px;
    text-align: left;
    font-size: 16px;
}
table td {
    padding: 12px 20px;
    font-size: 15px;
    color: var(--text-color);
    border-bottom: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}
table tr:nth-child(even) {
    background-color: #F2F2F2;   
}
table tr:nth-child(odd) {
    background-color: #ffffff;   
}
table tr:hover {
    background-color: #fde8ea;   
}
